@charset "UTF-8";
/* html style*/
html {
  background-color: #d1d1d1;
  font-family: 'Cambria', sans-serif;
  color: #333333;
  font-weight: 200;
}

header > h2 > a {
  text-decoration: none;
  color: #333333;
  text-shadow: 5px 5px #d1d1d1;
  font-family: 'Niconne', cursive;
  font-size: 7em;
  font-weight: lighter;
}

/* nav */
nav a {
  letter-spacing: .1em;
  text-decoration: none;
  font-size: 1em;
  font-weight: 750;
}

.horNav {
  border-top: 1px;
  border-bottom: 1px;
  border-color: #d1d1d1;
  border-top-style: solid;
  border-bottom-style: solid;
  overflow: hidden;
}

.horNav a {
  color: #333333;
  border-bottom: 3px solid transparent;
}

.horNav a:hover {
  border-bottom: 2px solid #5cbef7;
}

.horNav a:active {
  border-tottome: 3px solid #5cbef7;
}

/* article */
article p {
  line-height: 1.3em;
}

/* columns */
.column h2 {
  text-align: center;
  margin: 3px auto;
  color: #333333;
}
.column img {
  border-radius: 10px;
}

.column1 ul {
  margin: 5px auto;
  padding-left: 18px;
}


/* contact div */
div > ol > li a {
  color: #5cbef7;
  text-decoration: none;
}
